<header>
{{ with .BasicContent }}
	By {{.Author}} on {{.PublishDate}} - <a href="/{{.SectionLink}}">{{.SectionName}}</a>
{{ end }}
</header>
<main>
	{{ with .BasicContent }}
	<a href="/{{.Permalink}}"><h2>{{.Title}}</h2></a>
	<hr>
	<img src="/{{.Thumbnail}}" alt="thumbnail">
	{{ end }}
</main>
<footer>
	{{ with .BasicContent }}
	<div class="upvotes">
	<a href="{{ printf "/%s/upvote/" .ThreadLink }}">
		{{.Upvotes}} Upvotes 
		{{- if .Topvoted }}; You upvoted this.{{ end }}
	</a>
	</div>
	{{ end }}
	<div class="replies">
		<a href="{{ printf "/%s#comments" .BasicContent.ThreadLink }}">
			{{ .Replies }} Replies
		</a>
	</div>
</footer>