{{ define "header" }}
<nav>
	<div class="logo">
		<a href="/">patillalogo.jpg</a>
	</div>
	<div class="recycle">
		<button type="button">
			Recycle
		</button>
		<select>
			{{ range .RecycleTypes }}
			<option value="{{.Link}}">{{.Label}}</option>
			{{ end }}
		</select>
	</div>
	<div class="explore">
		<a href="/explore">Explore</a>
	</div>
	<div class="user-actions">
		{{ with .User }}
		{{- /* Notifications */ -}}
		<div class="notifs">
			<button>Notifs ({{len .Notifications}})</button>
			<div class="dropdown-notifs">
			{{ range .UnreadNotifs }}
				<a href="{{.Permalink}}">
					<h6>
						<i>{{.Date}}</i>{{.Title}}
					</h6>
					<strong>
						{{.Message}}
					</strong>
				</a>
			{{ end }}
			{{ range .ReadNotifs }}
				<a href="{{.Permalink}}">
					<h6>
						<i>{{.Date}}</i>{{.Title}}
					</h6>
					<strong>
						{{.Message}}
					</strong>
				</a>
			{{ end }}
			</div>
		</div>
		{{- /* View profile, logout */ -}}
		<div class="user-options">
			<h4>{{.Alias}}</h4>
			<div class="dropdown-user-options">
				<a href="/myprofile">View profile</a>
				<a href="/logout">Logout</a>
			</div>
		</div>
		{{ else }}
		<div class="login">
			<a href="/">Login or sign up</a>
		</div>
		{{ end }}
	</div>
</nav>
{{ end }}
