{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $saveLink:= .SaveLink }}
{{ $undoSaveLink:= .UndoSaveLink }}
{{ $permalink := .BasicContent.Permalink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}" data-save-link="{{$saveLink}}" data-undo-save-link="{{$undoSaveLink}}">
	<header>
	{{ with .BasicContent }}
	<span class="thread-info">
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}}{{- if .ShowSection -}} - <a href="{{.SectionLink}}">{{.SectionName}}</a>{{- end -}}
	</span>
	{{ end }}
	<span class="save">
		{{ if .ShowSaveOption }}
		<button type="button" data-saved="{{.Saved}}" class="save-button">
			{{- if .Saved -}}
			You saved this post
			{{- else -}}
			Save this post
			{{- end -}}
		</button>
		{{ end }}
	</span>
	</header>
	<main>
		{{ with .BasicContent }}
		<a href="{{$permalink}}"><h2>{{.Title}}</h2></a>
		<div class="content">
			<div class="thumbnail">
			<img src="/{{.Thumbnail}}" alt="thumbnail">
			</div>
			{{- with .LongerSummary -}}
				<p class="font-size-18">{{.}} ...<a href="{{$permalink}}">Read more</a></p>
			{{- else -}}
			<p class="summary">
				{{- .Content -}}
			</p>
			{{- end -}}
		</div>
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<span class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes
			</button>
		</span>
		{{ end }}
		<span class="replies">
			<a href="{{$permalink}}#comments">
				{{ .Replies }} Replies
			</a>
		</span>
	</footer>
</article>