{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $permalink := .BasicContent.Permalink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}">
	<header>
	{{ with .BasicContent }}
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}}{{- if .ShowSection -}} - <a href="{{.SectionLink}}">{{.SectionName}}</a>{{- end -}}
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		<i>Comment on </i><a href="{{$permalink}}"><h2>{{.Title}}</h2></a>
		<div class="content">
			{{- if .Thumbnail -}}
				<img src="{{.Thumbnail}}" alt="thumbnail">
				{{- with .LongerSummary -}}
					<p class="font-size-18">{{.}} ...<a href="{{$permalink}}">Read more</a></p>
				{{- else -}}
				<p class="summary">
					{{- .Content -}}
				</p>
				{{- end -}}
			{{- else -}}
				<p class="summary">
				{{- with .LongerSummary -}}
				{{.}} ...<a href="{{$permalink}}">Read more</a>
				{{- else -}}
					{{- .Content -}}
				{{- end -}}
				</p>
			{{- end -}}
		</div>
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<span class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes
			</button>
		</span>
		{{ end }}
		<span class="replies">
			<a href="{{$permalink}}#{{.Id}}">
				{{ .Replies }} Replies
			</a>
		</span>
	</footer>
</article>