{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $saveLink:= .SaveLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-save-link="{{$saveLink}}">
	<header>
	{{ with .BasicContent }}
		By {{.Author}} on {{.PublishDate}} - <a href="/{{.SectionLink}}">{{.SectionName}}</a>
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		<a href="/{{.Permalink}}"><h2>{{.Title}}</h2></a>
		<hr>
		<img src="/{{.Thumbnail}}" alt="thumbnail">
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes 
				{{- if .Upvoted }}; You upvoted this.{{ end }}
			</button>
		</div>
		{{ end }}
		<div class="replies">
			<a href="{{.BasicContent.Permalink}}#comments">
				{{ .Replies }} Replies
			</a>
		</div>
	</footer>
</article>