{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}">
	<header>
	{{ with .BasicContent }}
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}}{{- if .ShowSection -}} - <a href="{{.SectionLink}}">{{.SectionName}}</a>{{- end -}}
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		<a href="{{.Permalink}}"><h2>{{.Title}}</h2></a>
		<hr>
			{{ if .Thumbnail }}
			<img src="/{{.Thumbnail}}" alt="thumbnail">
			{{ end }}
			{{.Content}}
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes
			</button>
		</div>
		{{ end }}
	</footer>
</article>