{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $saveLink:= .SaveLink }}
{{ $undoSaveLink:= .UndoSaveLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}" data-save-link="{{$saveLink}}" data-undo-save-link="{{$undoSaveLink}}">
	<header>
	{{ with .BasicContent }}
	<div class="thread-info">
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}} - <a href="{{.SectionLink}}">{{.SectionName}}</a>
	</div>
	{{ end }}
	<div class="save">
		<button type="button" data-saved="{{.Saved}}">
			{{- if .Saved -}}
			You saved this thread
			{{- else -}}
			Save this thread
			{{- end -}}
		</button>
	</div>
	</header>
	<main>
		{{ with .BasicContent }}
		<a href="{{.Permalink}}"><h2>{{.Title}}</h2></a>
		<hr>
		<img src="/{{.Thumbnail}}" alt="thumbnail">
		{{.Content}}
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes 
				{{- if .Upvoted }}; You upvoted this.{{ end }}
			</button>
		</div>
		{{ end }}
		<div class="replies">
			<a href="{{.BasicContent.Permalink}}#comments">
				{{ .Replies }} Replies
			</a>
		</div>
	</footer>
</article>