{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}">
	<header>
	{{ with .BasicContent }}
		By <a href="/profile?{{.Username}}">{{.Author}}</a> on {{.PublishDate}} - <a href="/{{.SectionLink}}">{{.SectionName}}</a>
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		<a href="/{{.Permalink}}"><h2>{{.Title}}</h2></a>
		<hr>
			{{ if .Thumbnail }}
			<img src="/{{.Thumbnail}}" alt="thumbnail">
			{{ end }}
			{{.Content}}
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
			<button type="button" data-upvoted="{{.Upvoted}}">
				{{.Upvotes}} Upvotes
				{{- if .Upvoted }}; You upvoted this.{{ end }}
			</button>
		</div>
		{{ end }}
		<div class="replies">
			<a href="{{.BasicContent.Permalink}}#{{.Id}}">
				{{ .Replies }} Replies
			</a>
		</div>
	</footer>
</article>