<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script defer src="/static/js/save.js"></script>
	<script defer src="/static/js/logout.js"></script>
	<script defer src="/static/js/upvotes.js"></script>
	<title>Cheropatilla - Explore</title>
</head>
<body>
	{{ template "header" .HeaderData }}
	<h1>Explore</h1>
	<section class="feed">
		{{ range $idx, $content := .Feed }}
			{{ $content.RenderOverview $idx true }}
		{{ else }}
			<h3>There are no threads to show. Come back later and see if someone created content.</h3>
		{{ end }}
	</section>
</body>
</html>