<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/tmp/css/styles.css">
	{{ with .BasicUserData }}
	<title>My Patilla Profile - {{.Alias}} (@{{.Username}})</title>
	{{ end }}
</head>
<body>
	{{ template "header" .HeaderData }}
	{{ with .BasicUserData }}
	<!-- User data section -->
	<section class="profile-info">
		<div class="profile-pic">
			<img src="{{ .Patillavatar }}" alt="Patillavatar">
			<h3>{{.Alias}}</h3>
			<h5>@{{.Username}}</h5>
		</div>
		<div class="description">
			<p>
				{{ .Description }}
			</p>
		</div>
	</section>
	{{ end }}
</body>
</html>