<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/new-styles.css">
	<script defer src="/static/js/logout.js"></script>
	{{ with .BasicUserData }}
	<title>My Patilla Profile - {{.Alias}} (@{{.Username}})</title>
	{{ end }}
</head>
<body>
	{{ template "header" .HeaderData }}
	<div class="container">
	{{ with .BasicUserData }}
	<!-- User data section -->
	<section class="profile-info">
		<div class="profile-pic">
			<img src="{{ .Patillavatar }}" alt="Patillavatar">
			<h3>{{.Alias}}</h3>
			<h5>@{{.Username}}</h5>
		</div>
		<div class="description">
			<p>
				{{ .Description }}
			</p>
		</div>
	</section>
	{{ end }}
	<h2>All the above information should be editable. The form should be sent to /myprofile/update through PUT. The fields are alias, username, description and pic_url</h2>
	</div>
</body>
</html>