<!DOCTYPE html>
<html>
<head>
	{{ with .ProfileData }}
	<title>My Patilla profile - {{.Alias}} (@{{.Username}})</title>
	{{ end }}
</head>
<body>
	{{ partial "header.html" .HeaderData }}
	{{ with .ProfileData }}
	<!-- User data section -->
	<section class="profile-info">
		<div class="profile-pic">
			<img src="{{ .Patillavatar }}" alt="Patillavatar">
			<h3>{{.Alias}}</h3>
			<h5>@{{.Username}}</h5>
		</div>
		<div class="description">
			<p>
				{{ .Description }}
			</p>
		</div>
	</section>
	{{ end }}
</body>
</html>