<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/new-styles.css">
	<script defer src="/static/js/save.js"></script>
	<script defer src="/static/js/logout.js"></script>
	<script defer src="/static/js/post.js"></script>
	<script defer src="/static/js/upvotes.js"></script>
	<script defer>
		setupUpvotes();
		setupSave();
	</script>
	<title>Cheropatilla - {{.SectionName}}</title>
</head>
<body>
	{{ template "header" .HeaderData }}
	<div class="container">
	<h1>You are in the section {{.SectionName}}</h1>
	<section class="create-post">
		<form data-action="/{{.SectionId}}/new" method="POST" enctype="multipart/form-data" name="post">
			<label for="title">Title</label>
			<input type="text" name="title" id="title">
			<label for="content">Content</label>
			<textarea name="content" id="content"></textarea>
			<label for="ft_file">thumbnail</label>
			<input type="file" name="ft_file" id="ft_file">
			<input type="submit">
		</form>
	</section>
	<section class="feed">
		{{ $printSection := false }}
		{{ range $idx, $content := .Feed }}
			{{ $content.RenderOverview $idx false }}
		{{ else }}
			<h3>There are no posts to show. Come back later and see if someone created content.</h3>
		{{ end }}
	</section>
	</div>
</body>
</html>
