<!DOCTYPE html>
<html>
<head>
	<title>Patilla post - {{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/new-styles.css">
	<script defer src="/static/js/save.js"></script>
	<script defer src="/static/js/logout.js"></script>
	<script defer src="/static/js/reply.js"></script>
	<script defer src="/static/js/upvotes.js"></script>
	<script defer src="/static/js/recycle.js"></script>
	<script defer>
		window.onload = function() {
			setupUpvotes();
			setupSave();
			setupReplyComs();

			var prevBtn = document.querySelector(".thread-comments .section-header .prev");
			var nextBtn = document.querySelector(".thread-comments .section-header .next");
			var contentArea = document.querySelector(".thread-comments .content-area");
			var noContentArea = document.querySelector(".thread-comments .no-content-area h1");

			var feed = new Section(prevBtn, nextBtn, contentArea, noContentArea);

			var recycleBtn = document.querySelector(".recycle button");
			recycleBtn.onclick = function() {
				var options = document.querySelector(".recycle select");
				var link = options.value;
				var req = new XMLHttpRequest();
				req.open("GET", link, true);
				req.setRequestHeader("X-Requested-With", "XMLHttpRequest");
				req.onreadystatechange = function() {
					if (this.readyState == 4) {
						if (this.status == 200) {
							feed.addPage(this.responseText);
						} else {
							console.log(this.responseText);
						}
					}
				}
				req.send();
			};
		}
	</script>
</head>
<body>
	{{ template "header" .HeaderData }}
	<div class="container">
		<div class="post">
			<section class="thread-view">
				{{ .Content.RenderContent }}
			</section>
			<section class="thread-comments" id="comments">
				<header class="section-header">
					<button class="prev">PREV</button>
					<h1>Comments</h1>
					<button class="next">NEXT</button>
				</header>
				{{ with .Comments }}
					<div class="content-area">
						{{ range $idx, $comment := . }}
							{{ $comment.RenderOverview $idx false }}
						{{ end }}
					</div>
				{{ else }}
					<div class="no-content-area"><h1>
						Be the first one to reply this post.
					</h1></div>
					<div class="content-area"></div>
				{{ end }}
			</section>
		</div>
	</div>
</body>
</html>