<!DOCTYPE html>
<html>
<head>
	<title>Patilla post - {{ .Title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script defer src="/static/js/save.js"></script>
	<script defer src="/static/js/logout.js"></script>
	<script defer src="/static/js/reply.js"></script>
</head>
<body>
	<div class="container">
	{{ template "header" .HeaderData }}
	<section class="thread-view">
		{{ .Content.RenderContent }}
	</section>
	<section class="thread-comments" id="comments">
		{{ range $idx, $comment := .Comments }}
			{{ $comment.RenderOverview $idx false }}
		{{ end }}
	</section>
	</div>
</body>
</html>