<!DOCTYPE html>
<html>
<head>
	<title>Patilla profile - {{.ProfileData.Alias}} (@{{.ProfileData.Username}})</title>
</head>
<body>
	{{ partial "header.html" .CurrentUser }}
	{{ $isFollowing := .CurrentUser.IsFollowing }}
	{{ $userAlias := .ProfileData.Alias }}
	{{ with .ProfileData }}
	<section class="profile-info">
		<div class="profile-pic">
			<img src="{{ .Patillavatar }}" alt="Patillavatar">
			<h3>{{.Alias}}</h3>
			<h5>@{{.Username}}</h5>
		</div>
		<div class="follow">
			<p>Following: {{.Following}}</p>
			<p>Followers: {{.Followers}}</p>
			{{ if $isFollowing }}
			<a href="{{ printf "/unfollow?username=%s" .Username }}">Unfollow</a>
			{{ else }}
			<a href="{{ printf "/follow?username=%s" .Username }}">Follow</a>
		</div>
		<div class="description">
			<p>
				{{ .Description }}
			</p>
		</div>
	</section>
	<section class="feed">
		{{ with .Activity }}
			<h4>{{ $userAlias }} activity</h4>
			{{ $idx, $content := range . }}
				{{/* class example: class="thread NEW-3" */}}
				<article class="{{printf "%s %s-%d" $content.Kind $content.Status $idx}}">
					{{$content.Render}}
				</article>
		{{ else }}
			<h4>This user has no recent activity</h4>
		{{ end }}
	</section>
	{{ end }}
</body>
</html>
