<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/new-styles.css">
	<script defer src="/static/js/save.js"></script>
	<script defer src="/static/js/follow.js"></script>
	<script defer src="/static/js/logout.js"></script>
	{{ with .ProfileData.BasicUserData }}
	<title>Patilla Profile - {{.Alias}} (@{{.Username}})</title>
	{{ end }}
</head>
<body>
	{{ template "header" .HeaderData }}

	<div class="container">
	{{ $showFollowOption := .FollowOption }}
	{{ $isFollower := .IsFollower }}
	{{ $userAlias := .ProfileData.BasicUserData.Alias }}
	{{ $followers := .ProfileData.Followers }}
	{{ $following := .ProfileData.Following }}

	{{ with .ProfileData.BasicUserData }}
	<!-- User data section -->
	<section class="profile-info">
		<div class="profile-pic">
			<img src="{{ .Patillavatar }}" alt="Patillavatar">
			<h3>{{.Alias}}</h3>
			<h5>@{{.Username}}</h5>
		</div>
		<div class="follow" data-follow-link="{{ printf "/unfollow?username=%s" .Username }}" data-unfollow-link="{{ printf "/follow?username=%s" .Username }}">
			<p>Following: {{$following}}</p>
			<p>Followers: {{$followers}}</p>
			{{ if $showFollowOption }}
				{{ if $isFollower }}
				<button type="button">Unfollow</button>
				{{ else }}
				<button type="button">Follow</button>
				{{ end }}
			{{ end }}
		</div>
		<div class="description">
			<p>
				{{ .Description }}
			</p>
		</div>
	</section>
	{{ end }}
	<!-- User activity section -->
	<section class="feed">
	{{ with .Activity }}
		<h4>{{ $userAlias }} activity</h4>
		{{ range $idx, $content := . }}
			{{ $content.RenderOverview $idx true }}
		{{ end }}
	{{ else }}
		<h4>{{ $userAlias }} has no recent activity.</h4>
	{{ end }}
	</section>
	</div>
</body>
</html>
