{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $replyLink := .ReplyLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}" data-reply-link="{{$replyLink}}">
	<header>
	{{ with .BasicContent }}
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}}
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		<img src="/{{.Thumbnail}}" alt="thumbnail">
		<div class="content">{{.Content}}</div>
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
		<button type="button" data-upvoted="{{.Upvoted}}">
			{{.Upvotes}} Upvotes 
			{{- if .Upvoted }}; You upvoted this.{{ end }}
		</button>
		</div>
		{{ end }}
		<div class="replies">
			<button type="button">{{ .Replies }} Replies | Reply</button>
		</div>
	</footer>
	<form class="reply">
		<label for="ft_file">Upload a file (optional)</label>
		<input type="file" name="ft_file" id="ft_file">
		<textarea>Leave a reply</textarea>
		<input type="submit">
	</form>
</article>