{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $replyLink := .ReplyLink }}
{{ $id := printf "c_id=%s" .Id }}

<article id="{{$id}}" class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}">
	<header>
	{{ with .BasicContent }}
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}}
	{{ end }}
	</header>
	<main>
		{{ with .BasicContent }}
		{{with .Thumbnail}}<img src="/{{.}}" alt="thumbnail">{{end}}
		<div class="content"><p>{{.Content}}</p></div>
		{{ end }}
		<form class="replyCom" data-action="{{$replyLink}}" name="replyCom" method="POST" enctype="multipart/form-data">
			<label>Upload a file (optional)
				<input type="file" name="ft_file">
			</label>
			<textarea placeholder="Reply this comment" name="content"></textarea>
			<button type="button">Send</button>
		</form>
	</main>
	<footer>
		{{ with .BasicContent }}
		<span class="upvotes">
		<button type="button" data-upvoted="{{.Upvoted}}">
			{{.Upvotes}} Upvotes
		</button>
		</span>
		{{ end }}
		<span class="replies">
			<button type="button">{{ .Replies }} Replies </button>
		</span>
	</footer>
</article>