{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $saveLink := .SaveLink }}
{{ $undoSaveLink := .UndoSaveLink }}
{{ $replyLink := .ReplyLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}" data-save-link="{{$saveLink}}" data-undo-save-link="{{$undoSaveLink}}" data-reply-link="{{$replyLink}}">
	<header>
	{{ with .BasicContent }}
	<div class="thread-info">
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}} - <a href="/{{.SectionLink}}">{{.SectionName}}</a>
	</div>
	{{ end }}
	<div class="save">
		<button type="button" data-saved="{{.Saved}}">
			{{- if .Saved -}}
			You saved this thread
			{{- else -}}
			Save this thread
			{{- end -}}
		</button>
	</div>
	</header>
	<main>
		{{ with .BasicContent }}
		<h2>{{.Title}}</h2>
		<hr>
		<img src="/{{.Thumbnail}}" alt="thumbnail">
		{{.Content}}
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<div class="upvotes">
		<button type="button" data-upvoted="{{.Upvoted}}">
			{{.Upvotes}} Upvotes 
			{{- if .Upvoted }}; You upvoted this.{{ end }}
		</button>
		</div>
		{{ end }}
		<div class="replies">{{ .Replies }} Replies</div>
	</footer>
	<form class="reply">
		<label for="ft_file">Upload a file (optional)</label>
		<input type="file" name="ft_file" id="ft_file">
		<textarea>Leave a reply</textarea>
		<input type="submit">
	</form>
</article>