{{ $class := .BasicContent.ClassName }}
{{ $upvoteLink := .BasicContent.UpvoteLink }}
{{ $undoUpvoteLink := .BasicContent.UndoUpvoteLink }}
{{ $saveLink := .SaveLink }}
{{ $undoSaveLink := .UndoSaveLink }}
{{ $replyLink := .ReplyLink }}

<article class="{{$class}}" data-upvote-link="{{$upvoteLink}}" data-undo-upvote-link="{{$undoUpvoteLink}}" data-save-link="{{$saveLink}}" data-undo-save-link="{{$undoSaveLink}}">
	<header>
	{{ with .BasicContent }}
	<span class="thread-info">
		By <a href="/profile?username={{.Username}}">{{.Author}}</a> on {{.PublishDate}} - <a href="{{.SectionLink}}">{{.SectionName}}</a>
	</span>
	{{ end }}
	<span class="save">
		{{ if .ShowSaveOption }}
		<button type="button" data-saved="{{.Saved}}" class="save-button">
			{{- if .Saved -}}
			You saved this post
			{{- else -}}
			Save this post
			{{- end -}}
		</button>
		{{ end }}
	</span>
	</header>
	<main>
		{{ with .BasicContent }}
		<h2>{{.Title}}</h2>
		<img src="/{{.Thumbnail}}" alt="thumbnail">
		<p>{{.Content}}</p>
		{{ end }}
	</main>
	<footer>
		{{ with .BasicContent }}
		<span class="upvotes">
		<button type="button" data-upvoted="{{.Upvoted}}">
			{{.Upvotes}} Upvotes
		</button>
		</span>
		{{ end }}
		<span class="replies">{{ .Replies }} Replies</span>
	</footer>
	<form data-action="{{$replyLink}}" name="reply" method="POST" enctype="multipart/formdata">
		<textarea placeholder="Reply this post" name="content"></textarea>
		<label>Upload a file (optional)
			<input type="file" name="ft_file">
		</label>
		<button type="button">Send</button>
	</form>
</article>